# The MCU section is handled by printer.cfg file. DO NOT declare it here a second time

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0 # ADJUST THIS VALUE to match the distance from the nozzle to the probe in the X direction. Positive values mean the probe is to the right of the nozzle, negative values mean it is to the left.
y_offset: 25 # ADJUST THIS VALUE to match the distance from the nozzle to the probe in the Y direction. Positive values mean the probe is in front of the nozzle, negative values mean it is behind.

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[bed_mesh]
horizontal_move_z: 2
speed: 200
mesh_min: 20, 15  # ADJUST THIS VALUE so the probe can reach bed corners. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 215, 190 # ADJUST THIS VALUE so the probe can reach bed corners. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 9, 9
algorithm: bicubic

[safe_z_home]
home_xy_position: 110, 110 # ADJUST THIS VALUE for a position that is in the center of your bed.
z_hop: 10
z_hop_speed: 25
speed: 20

############################### Macros and related ################################

[force_move]
enable_force_move: True

[gcode_macro G28]
rename_existing: G28.1
gcode:
  G28.1 {rawparams}
  {% if not rawparams or (rawparams and 'Z' in rawparams) %}
    PROBE
    SET_Z_FROM_PROBE
  {% endif %}

[gcode_macro SET_Z_FROM_PROBE]
gcode:
    {% set cf = printer.configfile.settings %}
    SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current btt_eddy'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}
    G90
    G1 Z{cf.safe_z_home.z_hop}

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    SAVE_GCODE_STATE NAME=STATE_Z_TILT
    BED_MESH_CLEAR
    {% if not printer.z_tilt.applied %}
    _Z_TILT_ADJUST horizontal_move_z=8 retry_tolerance=1
    {% endif %}
    _Z_TILT_ADJUST horizontal_move_z=4
    _Z_TILT_ADJUST horizontal_move_z=4
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT

[gcode_macro BED_CALIBRATION]
gcode:
   BED_MESH_CALIBRATE METHOD=rapid_scan

[gcode_macro TAP_BASE_TOOL]
gcode:
    M109 T0 S150
    T0
    G91
    G1 E-1 F3600
    G90
    CLEAN
    CLEAN
    G1 Z5 F300
    G1 X120 Y110 F12000
    PROBE_EDDY_NG_TAP
    M104 T0 S0

# This macro automates a lot of the frequency mapping process and simplifies the steps significantly.
[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
gcode:
  BED_MESH_CLEAR
  G28 X Y
  G90 # Abs positioning
  G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
  {% if 'z' not in printer.toolhead.homed_axes %}
    SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
  {% endif %}
  PROBE_EDDY_CURRENT_CALIBRATE {rawparams}

#This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
gcode:
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=True #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg
  BTT_BED_MESH_CALIBRATE METHOD=rapid_scan
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=False #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg
