[gcode_macro START_PRINT]
description: Start print Duender
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
    M140 S{BED_TEMP}
    M104 S140
    M190 S{BED_TEMP}
    G28 X Y
    Z_TILT_ADJUST
    G28 Z
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    G90
    G1 X10 Y10 Z10 F6000 
    M109 S{EXTRUDER_TEMP} # Final nozzle temperature
    RESPOND PREFIX=tgalarm MSG="▶️ Print start"
    # LINE_PURGE # Purge line if enabled

[gcode_macro END_PRINT]
gcode:
    M104 S0
    M140 S0
    M106 S0
    G91
    G0 Z15 F3000 ## Conservative Z lift 15mm.
    G90
    PARK
    M84
    SET_PRINT_STATS_INFO CURRENT_LAYER=0
    RESPOND PREFIX=tgnotify_photo MSG="✅ Print finished"

[gcode_macro PARK]
description: Park toolhead
gcode:
    G90
    G1 Y200 F10000 ### Adjust parking position. Bed size dependant.
    G1 X200 F10000 ### Adjust parking position. Bed size dependant.

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% if printer.print_stats.state == "printing" %}
        RESPOND MSG="PAUSE macro: do pause"
        G91
        G1 Z5 F3000 ## Conservative lift 5mm.
        G90
        PARK
        BASE_PAUSE
        RESPOND PREFIX=tgalarm_photo MSG="⛔ Print paused."
    {% else %}
        RESPOND MSG="PAUSE macro: ignored (no active file print)"
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% if printer.print_stats.state == "paused" %}
        RESPOND MSG="RESUME"
        G91
        G1 Z-1 E1 F1000
        G90
        BASE_RESUME
    {% else %}
        RESPOND MSG="RESUME (no print, passthrough)"
    {% endif %}

[pause_resume]
recover_velocity: 200

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    M104 S0
    M140 S0
    M106 S0
    BASE_CANCEL_PRINT
    M84

[gcode_macro M600]
description: Filament Change
gcode:
    {% set X = params.X|default(15)|float %}
    {% set Y = params.Y|default(15)|float %}
    {% set Z_REST = params.Z_REST|default(10)|float %} # Safety Z height
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    # Retract filament to prevent oozing
    G91
    G1 E-1.0 F2700
    G1 Z{Z_REST} F3000
    G90
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro G29]
description: Full bed calibration
gcode:
    RESPOND MSG="Starting full bed calibration"
    G28 X Y
    Z_TILT_ADJUST
    G28 Z
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    G90
    G1 X10 Y10 Z10 F6000
    RESPOND MSG="Bed calibration complete"

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# A difference greater than one full step in the MCU positions indicates skipped steps.
# Comparison is limited to full-step accuracy to account for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10
description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU
gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = 20 %} ## Conservative safety margin from frame.
    # Size for small pattern box
    {% set smallpatternsize = 20 %}
        # Test area excludes the front tool dock.
        {% set bed_x_min = 0 %}
        {% set bed_x_max = 235 %} ## Bed size.
        {% set bed_y_min = 0 %}
        {% set bed_y_max = 235 %} ## Bed size.
        {% set x_min = bed_x_min + bound %}
        {% set x_max = bed_x_max - bound %}
        {% set y_min = bed_y_min + bound %}
        {% set y_max = bed_y_max - bound %}
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = bed_x_max / 2 %}
        {% set y_center = bed_y_max / 2 %}
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}
    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        G90
        G1 X{x_center} Y{y_center} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G90
        G0 X50 Y50 F{30*60}
        G4 P2000
        GET_POSITION
    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}
    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}
    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}
    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}
    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Move to the XY home positions after the homing override completes.
        G90
        # Park outside the front tool dock.
        G0 X0 Y0 F{30*60}
        G4 P1000
        GET_POSITION
    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED