#######################################################################
# Sensorless/Eddy macros
# USER CONFIGURATION:
# SEARCH FOR "### " THROUGH THE FILE TO FIND AND ADJUST MANDATORY NEEDED VALUES
# SEARCH FOR "## " THROUGH THE FILE TO FIND AND ADJUST OPTIONAL TUNING (CONSERVATIVE) VALUES
#######################################################################

[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    G4 P500 ## Conservative 500. Normal 300.
    G28 X # Native Klipper homing
    G91
    G1 X-5 F5000 ## Conservative X-5. Normal X-3 to -5.
    G90
    G4 P500 ## Conservative 500. Normal 300.
    # Set back current for normal printing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    G4 P500 ## Conservative 500. Normal 300.
    G28 Y # Native Klipper homing
    G91
    G1 Y-5 F5000 ## Conservative Y-5. Normal Y-3 to -5.
    G90
    G4 P500 ## Conservative 500. Normal 300.
    # Set back current for normal printing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Z]
gcode:
  {% set XO = printer.configfile.settings['probe_eddy_current eddy'].x_offset|float %}
  {% set YO = printer.configfile.settings['probe_eddy_current eddy'].y_offset|float %}
  {% set BED_CENTER_X = printer.toolhead.axis_maximum.x / 2 %}
  {% set BED_CENTER_Y = printer.toolhead.axis_maximum.y / 2 %}
  G90
  G0 X{BED_CENTER_X - XO} Y{BED_CENTER_Y - YO} F3000
  G28 Z # Eddy homing using Klipper native homing.
  G91
  G1 Z10 F600 ## Conservative F600. Normal F800. Fast F1200.
  G90
  {% set z_homed = 'z' in printer.toolhead.homed_axes %}

[homing_override]
axes: xyz
gcode:
  # Set Variable to make X and Y home only once
  {% set x_homed = 'x' in printer.toolhead.homed_axes %}
  {% set y_homed = 'y' in printer.toolhead.homed_axes %}
  # Home All Fix for G28
  {% if 'Y' not in params and 'X' not in params and 'Z' not in params %}
    {% set home_all = True %}
  {% else %}
    {% set home_all = False %}
  {% endif %}
  {% if home_all or 'X' in params %}
    _HOME_X
    {% set x_homed = True %} # Update our local variable
  {% endif %}
  {% if home_all or 'Y' in params %}
    _HOME_Y
    {% set y_homed = True %} # Update our local variable
  {% endif %}
   {% if home_all or 'Z' in params %}
    # Ensure XY are homed before probing, using our local variables
    {% if not x_homed %}
      RESPOND MSG="X not Homed, Homing X"
      _HOME_X
    {% endif %}
    {% if not y_homed %}
      RESPOND MSG="Y not Homed, Homing Y"
      _HOME_Y
    {% endif %}
    RESPOND MSG="X and Y homed, Homing Z"
    _HOME_Z
  {% endif %}

[gcode_macro BED_CALIBRATION]
gcode:
   BED_MESH_CALIBRATE METHOD=rapid_scan HORIZONTAL_MOVE_Z=1 ## Conservative 1. Normal 2.

# This macro automates a lot of the frequency mapping process and simplifies the steps significantly.
[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
gcode:
  BED_MESH_CLEAR
  G28 X Y
  G90
  G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000 ## Conservative 6000. Normal 10000+.
  {% if 'z' not in printer.toolhead.homed_axes %}
    SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
  {% endif %}
  PROBE_EDDY_CURRENT_CALIBRATE {rawparams}

#This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
description: Overrides standard BED_MESH_CALIBRATE to use Eddy rapid.
gcode:
    BTT_BED_MESH_CALIBRATE METHOD=rapid_scan